.banner {
    background: #feede4;
    .title {
        position: absolute;
        left: 15%;
        top: 15%;
        h2 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
}