.konsistensi {
    // padding: 72px 0 32px;
    // background: yellow;
    .kertas {
        position: absolute;
        top: -24px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title {
        h3 {
            font-size: 3rem;
            line-height: 2.6rem;
            color: $biru-mandiri;
            @media screen and (max-width:766px) {
                font-size: 1.8rem;
                line-height: 1.5rem;
            }
        }
    }
}