.peran-bank {
    background: linear-gradient(to bottom, #ebf8e5,#ade9e4);
    padding: 32px 0 150px;
    @media screen and (max-width:768px) {
        padding: 32px 0 100px;
    }
    .title {
        h3 {
            font-size: 3rem;
            color: #67a451;
            // text-transform: uppercase;
            // font-family: 'Poppins';
            @media screen and (max-width:768px) {
                font-size: 2rem;
            }
        }
    }
    @keyframes esg {
        0%,100% {
          top: 15%;
        }
        50% {
           top: 16%;
        }
        
        
      }
    .esg {
        position: absolute;
        width: 100%;
        // animation: esg 2s linear infinite;

        z-index: 2;
        // height: fit-content;
        height: 420px;
        // border: 1px solid;
        top:15%;
        @media screen and (max-width:766px) {
            top: 15%;
            height: fit-content;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .kota {
    position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .helping-margin {
        margin-top: -20vh;
        @media screen and (max-width:768px) {
            margin-top: -70vh;
            
        }
    }

    .hello {
        position: relative;
        .angka {
            position: absolute;
            top: -20%;
            left: 5%;
            z-index: -1;
            // font-style: italic;
            background: linear-gradient(to top, #ccc, white);
            width: 40px;
            // font-weight: bold;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5rem;
        }
    }

    .no-margin {
        margin-bottom: 0 !important;
    }
    .m-new {
        margin-bottom: 5vh !important;
    }

    .hijaux {
        background: linear-gradient(45deg, rgba(white,.8), rgba(#88f4c9,1));
    }
    .birux {
        background: linear-gradient(45deg, rgba(white,.6), rgba(#88ccf4,.98));
    }

    .kuningx {
        // #ebf488
        background: linear-gradient(45deg, rgba(white,.6), rgba(#ebf488,.98));
    }

    .salaman {
        position: relative;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
   
}